<% include partials/header %>
    <title style="color: white"><%= title%></title>
    <h1 style="color: white">
        <%= title %>
    </h1>
    <p style="color: white"><%= message%></p>  
    <section>
            <div class="paper container">
                   
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="color: white">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Ratings</th>
                                <th>Language</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for (let i = 0; i < courses.length; i++) { %>
                                  <tr>      
                                        <td>
                                                <%= courses[i].Name %>
                                        </td>
                                        <td><%= courses[i].type %></td>
                                        <td><%= courses[i].status %></td>
                                        <td><%= courses[i].rating %></td>
                                        <td><%= courses[i].languages %></td>        
                                    </tr>
                                <% } %>
                        </tbody>
                    </table>
                  </div>       
    </section>
<% include partials/footer %>
