<% include partials/header %>

    <title><%= title%></title>
    <style scoped>
        form {
            border: 0px solid black;
            width: 500px;
            margin: 0;
            padding: 100px; 
        } 
        </style>
    <div class="row flex-center" style="margin: 0px">
        <div class="sm-4 col">

            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <form method="POST" style=" color: white">
                        <div class="form-group">
                            <label for="name">Course Name</label>
                            <input type="text" id="name" name="name" class="input-block" required value="<%= course.name %>">
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" id="type" name="type" class="input-block" required value="<%= course.type %>">
                        </div>

                        <div class="form-group">
                            <label for="languages">Language</label>
                            <input type="text" id="languages" name="languages" class="input-block" required value="<%= course.languages %>">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" id="status" name="status" class="input-block" required value="<%= course.status %>">
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input type="text" id="rating" name="rating" class="input-block" required value="<%= course.rating %>">
                        </div>
                        <button type="submit" class="btn-secondary btn-block" style="color: black">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>